/*GLOBAL STYLES*/
body{
    background: #f6f6f6;
    overflow: hidden;
}

.bodyContainer{
    width: 1200px;
    max-width: 1200px;
    height: 100%;
    margin: 20px auto;
}


.bgColor{
    background-color: #7C0429;
}
/*Header*/
.lbisFixedHeader{
    /*background: -webkit-linear-gradient(to right, #7C0429, #7b4397);*/
    background-color: #7C0429;
    margin-bottom: 10px;
}

/*Side bar*/

.profileColor{
    background: linear-gradient(to top right, #fedddb 0%, #f7ffff 100%);
}

.logoProfile,
.logoHeader{
    background: grey;
    border-radius: 50%;
    height: auto;
    padding: 2px;
}

.logoProfile{
    width: 20%;
}

.logoHeader{
    margin-top: 7px;
    margin-left: 20%;
    width: 17%;
}

/*Login*/

.loginForm{
    background: #FCFCFC;
    color: #2B2B2B;
    margin: 20px auto;
}

#logoutButton{
    margin: 15px;
    border-radius: 3px;
}


/*COLOURS*/
#subtleGrey{
    color: #2B2B2B;
}

#subtleWhite{
    color: #2B2B2B;
}

#adminBarOne{
    background: linear-gradient(to bottom left, #af3617 0%, #eb7f63 100%);
}

#adminBarTwo{
    background: linear-gradient(to bottom left, #0e5367 0%, #76d2ec 100%);
}

#adminBarThree{
    background: linear-gradient(to bottom left, #a79c16 0%, #efe888 100%);
}

#adminBarFour{
    background: linear-gradient(to bottom left, #6c233a 0%, #d7849d 100%);
}


/* ADD STUDENTS PAGE*/
.uploadOptions{
    margin-top: 10px;
    box-shadow: 0 2px 6px 0 hsla(0,0%, 0%, 0.2);
}

.formBody{
    max-width: 1200px;
    margin: auto;
}

.categoryBody{
    width: 40%;
    height: 150%;
    background-color: rgba(250,250,250,0.7);
    margin: 10% auto;
    box-shadow: 0 2px 6px 0 hsla(0,0%, 0%, 0.2);
    border-radius: 5px;
}

.categoryBody li{
    list-style-type: disc;
    margin: 4px 25px;
    color: #00635a;
    padding: 15px 8px;
    transition: color .5s, background-color .5s;
}
.categoryBody li a{
    color: #555;
    display: block;
}

.categoryBody li:hover{
    background-color: rgba(227,227,227,0.7);
    color: #979797;
    border-radius: 10px;
}

.categoryTitle{
    background-color: rgba(227,227,227,0.7);
    border-radius: 6px;
    padding: 13px 8px;
    margin: 10px 8px;
    color: #979797;
}

.noOfStudents{
    background-color: #555;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    margin-left: 9px;
}

.centerText{
    text-align: center;
}

.mytabs,
.mytabs1{
    margin: 0 1%;
    padding: 7px;
    border-radius: 50%;
    background-color: darkcyan;
}

.mytabs1{
    margin-left: 42%;
}

.mytabs a,
.mytabs1 a{
    color: white;
    padding: 7px;
}

#centerIt{
    margin-right: 18%;
}

.goBack{
    margin: 10px;
}